<!-- <div class="store-container"> -->
<nav
  id="navbar"
  [ngStyle]="{
    'position': this.scrollState > 0 ? 'fixed' : '',
    'z-index': this.scrollState > 0 ? 2 : 2,
    'width.%': this.scrollState > 0 ? 100 : 100,
    'top': this.scrollState > 0 ? 0 : 0,
    'left': this.scrollState > 0 ? 0 : 0,
  }"
>
  <div class="nav-bar">
    <h1>My Yarn Store</h1>
  </div>
</nav>
<div class="store-buy-notification-container">

</div>
<ul
  class="store"
  [ngStyle]="{
    'justify-content':
      productsLocalStorage.length >= 0 && productsLocalStorage.length <= 4
        ? 'center'
        : productsLocalStorage.length > 4
        ? 'center'
        : 'flex-start',
    'min-height.px': storeMinHeight
  }"
  (resize)="onResizeHandle()"
>
  <!-- [style.justify-content]="products.length === 0 ? 'center' : 'start'" -->
  <li
    *ngIf="productsLocalStorage.length === 0"
    class="store-empty-notification"
    [class.active]="productsLocalStorage.length === 0"
  >
    <p>Searching more pets for you</p>
  </li>
  <li
    class="card store-item"
    *ngFor="let product of productsLocalStorage; index as i"
    [style.animation-delay.ms]="animationStoreItemsDelay(staggerDelay, i)"
    [id]="i"
    (change)="onResizeHandle($event)"
  >
    <span class="store-item-title">
      {{ product.name }}
    </span>
    <div>
      <img
        class="store-item-img"
        width="200"
        height="150"
        [src]="product.image"
      />

      <p class="store-item-description-text">
        {{ product.description }}
      </p>
      <p class="store-item-price">${{ product.price }}</p>
    </div>
    <button (click)="buyProduct(i)" class="store-buy-button">Buy</button>
  </li>

  <li
    class="card store-item"
    [style.animation-delay.ms]="
      animationStoreItemsFormDelay(staggerDelay, productsLocalStorage)
    "
    (change)="onResizeHandle()"
  >
    <form
      id="store-form-products"
      class="store-add-form"
      [class.loading]="formLoading"
      (ngSubmit)="onAddProduct($event)"
      #storeForm="ngForm"
    >
      <input
        id="name"
        name="name"
        #newProductName="ngModel"
        [(ngModel)]="productName"
        required
        type="text"
        class="store-item-title"
        placeholder="set a name"
      />
      <div>
        <img
          class="store-item-img"
          width="200"
          height="150"
          [src]="storeFormImg"
        />
        <label class="store-img-label" for="image">Upload an image</label>
        <input
          required
          id="image"
          name="image"
          #newProductName="ngModel"
          [(ngModel)]="imageUrl"
          class="store-img-input"
          required
          type="file"
          (change)="onFileSelected($event)"
          accept="image/png, image/jpeg"
        />
        <div *ngIf="formLoading" class="spinner-container">
          <div class="spinner"></div>
          <p>Loading...</p>
        </div>
        <input
          required
          id="description"
          name="description"
          type="text"
          class="store-item-description-text"
          placeholder="set a description"
          #newProductDescription="ngModel"
          [(ngModel)]="productDescription"
        />
        <label class="store-item-price-label" for="price">Price: </label>
        <input
          required
          id="price"
          name="price"
          #newProductName="ngModel"
          [(ngModel)]="productPrice"
          type="number"
          class="store-item-price-input"
          placeholder="set a price"
        />
      </div>
      <button
        [disabled]="storeForm.invalid && formLoading"
        [style.background-color]="storeForm.valid ? 'darkslategrey' : 'gray'"
        type="submit"
        class="store-buy-button"
      >
        Add New Product
      </button>
    </form>
  </li>
</ul>
<footer id="footer">
  <h2>Contact Us</h2>
  <div class="conctact-section">
    <div class="socialMedia-link">
      <img class="socialMedia-icon" [src]="facebookIcon" />
      <a
        target="_blank"
        href="https://www.facebook.com/profile.php?id=100010586684410"
        >@fabroche</a
      >
    </div>

    <div class="socialMedia-link">
      <img class="socialMedia-icon" [src]="instagramIcon" />
      <a target="_blank" href="https://www.instagram.com/_frankobro_/"
        >@_frankobro_</a
      >
    </div>

    <div class="socialMedia-link">
      <img class="socialMedia-icon twitter" [src]="twitterIcon" />
      <a target="_blank" href="https://twitter.com/fabroche98">@fabroche98</a>
    </div>
  </div>

  <div class="aboutUs-section">
    <h2>About Us</h2>
    <p>
      {{ aboutUs }}
    </p>
  </div>
</footer>
<!-- </div> -->
